.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #093e7b;
  height: 4em;
}

.logo {
  font-size: 1.5em;
  width: 60%;
  color: #fff;
}

body {
  background-color: #3c5660;
  max-width: 100%;
  overflow-x: hidden;
}

.hamburger {
  width: fit-content;
  height:1em;
}

.Homepage {
  height: 100vh;
  width: 100%;
}

.nations {
  width: 100%;
}

.details {
  background-color: #093e7b;
  width: 100%;
}

.map {
  width: 70%;
  height: 5em;
}

.nation {
  background-color: #093e7b;
  padding-top: 3em;
  padding-bottom: 3em;
}

.nation:nth-child(odd) {
  background-color: #45a5d9;
}

.states {
  background-color: antiquewhite;
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: center;
align-items: stretch;
gap: 0;
width: 100%;
}

.title-con {
  width: 100%;
}

.data-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #45a5d9;
}

.pollution-table, .pollution-data {
  width: 100%;
  padding: 0;
}

.data-item:nth-child(odd) {
  background-color: #093e7b;
}

.country-info {
  background-color: #093e7b;
}

.detail-map {
  width: 50vw;
  margin: 0 0 3em 5em;
}

.backbutton-img {
  width: 2em;
  background-color: inherit;
}

.back-button {
  background-color: transparent;
  border: none;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4em;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.subtitle {
  margin: 0;
  background-color: #093e7b;
  color: #fff;
}

.nation-title {
  color: #fff;
  text-align: center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0c5bb6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  margin: 0;
}

.icons {
  display: flex;
  gap: 1em;
}
