.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgb(9, 62, 123);
  height: 3em;
}

.hamburger {
  width: 2em;
  height: 1.5em;
}
